.App {
  text-align: center;
  padding-bottom: 100px;
}

*{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, button {
  font-weight: 500;
}

p,
input,
li,
a {
  font-weight: 300;
}

input {
  padding: 5px 10px;
  border: 1px solid #a316b4;
  border-radius: 10px;
  margin: 5px 0;
}

button {
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: #a316b4;
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
  transition: box-shadow .3s ease-in-out;
}

button:hover {
  box-shadow: 0, 5px, 15px, rgba(0, 0, 0, .15px);
}